<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>949187309509-6bbncc12pb5bk8ocn42jtj6hrhi572hf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.949187309509-6bbncc12pb5bk8ocn42jtj6hrhi572hf</string>
	<key>API_KEY</key>
	<string>AIzaSyDSDmGngOpirr-Ybnb6g0IBveQYpA1oljQ</string>
	<key>GCM_SENDER_ID</key>
	<string>949187309509</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hwek.ZoneRv1</string>
	<key>PROJECT_ID</key>
	<string>zonerv1-4d55a</string>
	<key>STORAGE_BUCKET</key>
	<string>zonerv1-4d55a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:949187309509:ios:5fa14f655ca7e02b9a25ac</string>
	<key>DATABASE_URL</key>
	<string>https://zonerv1-4d55a.firebaseio.com</string>
</dict>
</plist>